java:
  source_url: http://download.oracle.com/otn-pub/java/jdk/7u25-b15/jdk-7u25-linux-x64.tar.gz
  version_name: jdk1.7.0_25
  prefix: /usr/share/java
  dl_opts: -b "Cookie: oraclelicense=accept-securebackup-cookie" -L
  home: /usr/lib/java

# java:version_name is the name of the top-level directory inside the tarball
# java:prefix is where the tarball is unpacked into - prefix/version_name being
#             the location of the jdk
# java:dl_opts - cli args to cURL
